$primary-black: #031521;
$primary-ekelundblue: #0d406b;
$primary-darkgrey: #828384;
$primary-lightgrey: #cdd1d3;
$primary-white: white;

$secondary-purple: #322f6d;
$secondary-lightpurple: #817fa5;
$secondary-white: #eef3f7;

$alarm-technical: #0e55b2;
$alarm-operational: #e57d23;
$alarm-safety: #0d406b;
