/* $primary-black: #031521;
$primary-ekelundblue: #0d406b;
$primary-darkgrey: #828384;
$primary-white: white;
$secondary-purple: #322f6d;
$secondary-lightpurple: #817fa5;
$secondary-white: #eef3f7; */
/* ---------------------------- */

$alarm-technical: #0e55b2;
$alarm-operational: #e57d23;
$alarm-safety: #f8e342;
$alarm-green: green;

$bg-sidebar: rgb(226, 226, 226);
$text-sidebar: rgb(48, 48, 48);
$bg-header: rgba(89, 152, 189, 0.301);
$bg-color: #404040;
$bg-color-secondary: #fcfcfc;
$primary-color: #404040;
$secondary-color: #afafaf;
$primary-lightgrey: #e4e4e4;
$hover: #eef3f7;
$ekelund: #01161e;
$ekelund2: #598392;
$ekelund3: #10406c;

$alarm-list-gradient-bottom: rgb(87, 87, 87);
$alarm-list-gradient-top: rgb(182, 182, 182);
