@use "../../styles/colors" as *;
.NavBar {
  width: 90%;
  background-color: $bg-banner-nav;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0 10px;
  padding-bottom: 0;
  margin-top: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  .NavBar-list {
    display: flex;
    align-items: center;
    list-style: none;
    color: grey;
    font-size: 20px;
    gap: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;

    li {
      cursor: pointer;
      margin-bottom: -1px;
      padding: 10px;
    }
  }
}

.active {
  color: rgb(47, 10, 47);
  border-bottom: 2px solid rgb(27, 10, 47);
  padding-bottom: 5px;
}
