@use "../../styles/colors" as *;

.SideBar {
  width: 100px;
  height: 100vh;
  background-color: $bg-sidebar;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  color: $text-sidebar;
  padding: 10px;

  .top-container {
    text-align: center;
    font-size: 35px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-container {
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
      font-size: 50px;
      color: $primary-color;
      margin-top: -15px;
      border: none;
      background-color: transparent;
    }
  }

  img {
    width: 80px;
    height: 80px;
  }

  .icon-btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    margin-top: -20px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $hover;
      color: black;
    }

    span {
      font-size: 40px;
    }
  }
}

$breakpoint-tablet: 450px;
@media (max-width: $breakpoint-tablet) {
  .SideBar {
    display: none;
  }
}
