.SideBar {
  width: 100px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  .top-container {
    text-align: center;
    font-size: 35px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-container {
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
      font-size: 50px;
      color: rgb(41, 53, 88);
      margin-top: -15px;
    }
  }

  img {
    width: 90px;
    height: 90px;
  }

  .icon-btn {
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: -20px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #eef3f7;
    }
  }
}
