@use "../../styles/colors" as *;

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  gap: 10px;
  padding-top: 15px;
  background-color: $bg-header;
  box-shadow: 2px 0 5px black;
}

.Dashboard {
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(300px));
  grid-template-rows: 220px;
  justify-content: center;
  align-items: center;
}

$breakpoint-tablet: 350px;
@media (max-width: $breakpoint-tablet) {
  .dashboard-item {
    transform: scale(0.9) !important;
  }
  .header {
    margin: 0;
  }
}
