.table-container {
  width: 90%;
  overflow-x: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.property-table {
  width: 100%;
  border-collapse: collapse;
}

.property-table th,
.property-table td {
  border: 0px solid black;
  border-bottom: 0px solid #8d8d8d;
  padding: 6px;
  text-align: left;
}

.property-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.property-table tbody tr:nth-child(even) {
  background-color: #f9f9f98a;
}

.center {
  text-align: center;
}
