@use "./styles/colors" as *;

body {
  background-color: $bg-color;
  font-family: sans-serif;
  padding-left: 80px;
}

.logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 150px;
  opacity: 0.3;
  z-index: -1;
}

$breakpoint-phone: 450px;
@media (max-width: $breakpoint-phone) {
  body {
    padding: 0;
  }
}
