@use "../../../styles/colors" as *;
.circle-container {
  width: 110px;
  height: 110px;
  box-shadow: 2px 2px 5px black, inset 1px 1px 2px white,
    inset -2px -2px 2px black;
  border: 0px solid black;
  border-radius: 50%;
  background-color: $alarm-green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    border: 0px solid white;
  }

  .icon-container {
    width: 70%;
    height: 70%;
    background-color: $bg-color-secondary;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black, inset -1px -1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:active {
      /* border: 1px solid black; */
      box-shadow: inset 2px 2px 2px black;
    }

    img {
      width: 40px;
    }

    .hover-info-container {
      position: absolute;
      top: 120px;
      width: max-content;
      background-color: white;
      padding: 8px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 2px 2px 5px black;
      transition: transform 0.3s ease-in-out;

      .hover-info-alarmlist {
        list-style: none;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

.scale {
  transform: scale(0.5);

  &:hover,
  &:focus {
    transform: scale(0.6);
  }
}

.scale-house {
  transform: scale(0.5);
}

.map-header-color {
  background-color: rgba(0, 0, 0, 0.315);
}
